---
---

@import "{{ site.theme }}";

// TODO custom css here


#header_wrap {
  background-color: green;
}

.page-header {
  background-image: url("/assets/images/logo_render.png");
  background-repeat: no-repeat;
  background-position: center;
}
