<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}
  <body>
    <section class="page-header">
      <a href="" class="logo"></a>
      <!--<h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>-->
      {% include image.html url="/assets/images/logo2.png"%}
      <a href="/index.html" class="btn">News</a>
      <a href="/info.html" class="btn">Info</a>
      <a href="/join-dada.html" class="btn">Join DADA</a>
      <a href="/activities.html" class="btn">Activities</a>
      <a href="/contact.html" class="btn">Contact</a>
    </section>

    <section class="main-content">
      {{ content }}

      <footer class="site-footer">
        <span>© DADA ry <script>document.write(new Date().getFullYear())</script></span>
      </footer>
    </section>

    {% include google-analytics.html %}
  </body>
</html>
